<html> 
    <head>
        <title>SKILL BRIDGE</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body> 
        <div class="main">
            <h1 class="heading">SKILL BRIDGE</h1>
            <h3 class="subhead">AI-Powered Skill Gap Analyzer with Personalized Learning Path and Job Recommender</h3>
            <div class = "upload"> 
                <form class="resume-form" method="POST" enctype="multipart/form-data">
                    <label for="resume-upload" class="upload-label">Upload Your Resume:</label>
                    <input type="file" id="resume-upload" name="resume" accept=".pdf,.doc,.docx">
                    <button type="submit">Analyze</button>
                </form>
            </div>
        </div>
    </body>
</html>
